@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background-color: #ff0000 !important; /* ЯРКО-КРАСНЫЙ ФОН */
  color: white !important;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}